Name: zvm-validator
Version: 0.9@BUILD@
Release: 1%{?dist}
Summary: ZeroVM validator tools
Group: Development/Tools
License: Apache-2.0
Source: %{name}.tar.gz
URL: https://github.com/zerovm/validator
BuildRequires: gcc-c++

%description
ZeroVM is an open-source lightweight virtualization platform
based on Google Native Client project.

This package contains valz and valzo binaries needed if you want to
debug the validation of NaCl bitcode done by ZeroVM.

%package -n libvalidator0
Summary: The validator runtime library
Group: Development/Libraries

%description -n libvalidator0
ZeroVM is an open-source lightweight virtualization platform
based on Google Native Client project.

The package contains the validator runtime library needed if you want
to validate NaCL bitcode.

%package -n libvalidator0-devel
Summary: The validator runtime library development files
Group: Development/Libraries/C and C++
Requires: libvalidator0 = %{version}

%description -n libvalidator0-devel
ZeroVM is an open-source lightweight virtualization platform
based on Google Native Client project.

This package contains the development headers needed if you are
developing new programs that validate NaCl bitcode.

%prep
%setup -c

%build
make validator

%install
make install PREFIX=%{_prefix} DESTDIR=%{buildroot}

%clean

%files
%defattr(-, root, root)
%{_bindir}/valz
%{_bindir}/valzo

%files -n libvalidator0
%defattr(-, root, root)
%{_libdir}/libvalidator.so.0*
%{_libdir}/libvalidator.so.0.*

%files -n libvalidator0-devel
%defattr(-, root, root)
%{_libdir}/libvalidator.so

%doc README

%post -n libvalidator0
/sbin/ldconfig

%postun -n libvalidator0
/sbin/ldconfig

%changelog
