/out/
*~
COPYING
aclocal.m4
autom4te.cache
config.guess
config.sub
configure
install-sh
ltmain.sh
missing
Makefile.in
m4
compile
config.h*
config.log
config.status
depcomp
libtool
.deps
stamp*
Makefile
*.o
*.a
*.lo
*.la
.dirstamp
.libs
